/*

Watcher.jpg: Photo 'Big Brother is watching' by Michael Aleo (https://unsplash.com/@mjaleo) on Unsplash.

*/

.___colors {
    color: #fff;
    color: #003745;
    color: #000;
    color: #ea4f35;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #003745;
}

.itq_logo {
    width: 6rem;
    height: 6rem;
    background: url(itq-logo.svg) center center no-repeat #fff;
    background-size: contain;
    position: fixed;
    background-size: 200%;
    box-shadow: 0 0 10px #999;
}

.title_block {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_block > .title,
.title_block > .subtitle {
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px #000, 0 0 7px #000;
    text-align: center;
}

.title_block > .subtitle {
    font-size: 2rem;
}

.title_block--watcher {
    background: url(watcher.jpg) center center no-repeat;
    background-size: cover;
}

.content_block {
    display: flex;
    max-width: 60rem;
    margin: 0 auto;
}

.content_block > .content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}

.content--orange,
.content--blue {
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.content--orange > .content_title,
.content--blue > .content_title {
    text-align: center;
}

.content--blue {
    background-color: #003745;
}

.content--orange {
    background-color: #ea4f35;
}

.content_block--textsection {
    text-align: left;
    display: block;
    padding: 2rem;
    height: auto;
}

.content_title,
.content_subtitle {
    text-align: left;
    color: currentColor;
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content_subtitle {
    font-size: 1.5rem;
}

.image {
    max-width: 80%;
    box-shadow: 0 0 15px #999;
    margin: 2rem auto;
    display: block;
}

.link {
    color: #ea4f35;
}

.--no-decoration {
    text-decoration: none;
}

.text {
    margin-bottom: 1rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    font-size: .85rem;
    color: #ea4f35;
}

.code {
    font-family: 'Courier New', Courier, monospace;
}

.icon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.icon-cell {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 1rem;
    margin-top: 2rem;
}

.icon-cell > .fas {
    color: #ea4f35;
    font-size: 3rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 700px) {
    .itq_logo {
        width: 3rem;
        height: 3rem;
    }

    .title_block {
        height: 20rem;
    }

    .title_block > .title,
    .title_block > .subtitle {
        font-size: 2.5rem;
    }

    .title_block > .subtitle {
        font-size: 1.25rem;
    }

    .icon-grid {
        display: block;
    }

    .icon-cell > .text {
        font-size: 1rem;
    }

    .icon-cell > .fas {
        font-size: 2rem;
    }
}