* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    background-color: #f7f7f7;
    color: #313131;
}

:root {
    --main-accent-color: #ca3e47;
    --main-dark-color: #333;
    --main-dark-bg-color: #ccc;
    --default-padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
    border-bottom: 2px solid var(--main-accent-color);
}

header img {
    height: 22px;
}

/* core layout */
.top,
.snapshots {
    display: flex;
}

.top .graph,
.top .all-nodes,
.top .all-stats {
    min-height: 200px;
    background-color: var(--main-dark-bg-color);
    flex: 3 3 auto;
    margin: var(--default-padding);
    padding: var(--default-padding);
}

.top .graph,
.top .all-nodes {
    flex: 1 1 auto;
}

.snapshots {
    min-height: 500px;
    display: flex;
}

.snapshots .node-stats {
    flex: 1 1 auto;
    min-width: 200px;
    background-color: var(--main-dark-bg-color);
    margin: 0 var(--default-padding);
    padding: var(--default-padding);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.single-node-stat {
    display: flex;
    justify-content: space-between;
}